---
import { getCollection } from 'astro:content'

import '../styles/main.css'

import Member from '../components/Member.astro'

const members = await getCollection('members')

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<title>CyberByte</title>
	</head>
	<body>
		<main>
			<header>
				<h1>CyberByte</h1>
			</header>

			<section id="about-us">
				<h2>What Are We?</h2>
				<p>
					The Cyberbytes are a group of strong, smart, and capable
					(scholars, students, innovators, etc.). A combination of the
					Cybersecurity and the Full-Stack Development team, we
					combine the best parts of both programs. We are a diverse
					group of people of mixed backgrounds, education, and
					schools. Our group spans 8 total schools in the New York
					City area. We are confident in our skills and abilities as
					technicians and believe that we are a great representation
					of what the STEAM Center can accomplish.
				</p>
			</section>

			<section id="team-members">
				<h2>Who Are We?</h2>
				<div class="member-list">
					{members.map(member => <Member member={member} />)}
				</div>
			</section>
		</main>
		<footer>
			<p>&copy; 2024 CyberByte Cohort. All rights reserved.</p>
		</footer>
	</body>
</html>
